

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    function promptAddList() {
        let newListNameElem = $("#newlistname");
        let listName = prompt("Enter the new name for the list");
        if (listName !== "" && listName !== null) {
            newListNameElem.attr("value", listName);
            newListNameElem.parent().submit();
        }
    }
</script>

</body>
</html>