

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    function promptAddList() {
        let newListNameElem = $("#newlistname");
        let listName = prompt("Enter the new name for the list");
        if (listName !== "" && listName !== null) {
            newListNameElem.attr("value", listName);
            newListNameElem.parent().submit();
        }
    }

    $(".list-title-container").click(function() {
        $(".listnav").fadeToggle(100);
    });

    $(".titlebar-right").click(function() {
        if(window.confirm("ToDone (v0.1.0)\n" + 
        "Made by GSA prod.\n\n" + 
        "Click OK to access the project's GitHub repository.")) {
            window.open("https://github.com/GSAprod/udemy-web-dev-todolist", "_blank");
        }
    });
</script>

</body>
</html>