<%- include("partials/header.ejs") %>

<form action="/update" method="post">
<div class="task-item-container">
        <input type="checkbox" name="task" id="task">
        <label for="task">Clothes</label>
</div>
<div class="task-item-container">
    <input type="checkbox" name="task" id="task">
    <label for="task">Clothes</label>
</div>
<div class="task-item-container">
    <input type="checkbox" name="task" id="task">
    <label for="task">Clothes</label>
</div>
<div class="task-item-container">
    <input type="checkbox" name="task" id="task">
    <label for="task">Clothes</label>
</div>
<input type="submit" value="Save">
</form>

<%- include("partials/footer.ejs") %>