<%- include("partials/header.ejs") %>

<div class="desktop-container">
  <%- include("partials/topbar.ejs") %>

  <div class="container">
    <%- include("partials/todolist.ejs") %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
